{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'poling/style.css'%}">
</head>
<body>
	<div class="container">
		<div class="text-center">	
	    	<h2>{{ question.question_text }}</h2>
		</div>

{% if error_messsage %}<p><strong>{{ error_message }}</strong></p>{% endif%}
		<form action="{% url 'poling:vote' question.id %}" method="post">
		<div class="row justify-content-md-center">
{% csrf_token %}
{% for choice in question.choice_set.all %}
				<div class="col-12 col-sm-6 col-md-8">
					<div class="card">
					  <div class="list-group list-group-flush">
					    <div class="list-group-item">			    	
							<div class="form-check">			
								<input  class="form-check-input" type="radio" name="choice" id="choice{{ forloop.couter }}" value="{{ choice.id }}">
								<label  class="form-check-label" for="choice {{ forloop.couter }}">{{ choice.choice_text }}
								</label>
							</div>
					    </div>
					  </div>
					</div>
				</div>
{% endfor %}
				<div class="col-12 col-sm-6 col-md-8">
					<button class="btn btn-primary" type="submit" name="Vote">Vote</button>				
				</div>
		</div>
		</form>


	</div>
</body>
</html>