{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'poling/style.css'%}">
</head>
<body>
	<div class="container">
		<div class="text-center">	
			<img class="d-block mx-auto mb-4" width="72" height="72" src="{% static 'poling/images/Polling-icon.png'%}">
			<h2>Poling seputar Teknologi</h2>
		</div>
		<div class="row justify-content-md-center">
		{% if latest_question_list %}
			{% for question in latest_question_list %}
			<div class="col-md-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{question.question_text }}</h5>
						<a href="{% url 'poling:results' question.id %}" class="card-link">Results</a>
						<a href="{% url 'poling:detail' question.id %}" class="card-link">Votes</a>
					</div>
				</div>
			</div>
			{% endfor %}
		{% else %}
			<p>No polls are avaliable.</p>
		{% endif %}
		</div>
	</div>
</body>
</html>