{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'poling/style.css'%}">
</head>
<body>
	<div class="container">
		<div class="text-center">	
			<h2>{{ question.question_text }}</h2>
		</div>
		<div class="row justify-content-md-center">
{% for choice in question.choice_set.all %}
			<div class="col-12 col-sm-6 col-md-8">
				<div class="card">
				  <div class="list-group list-group-flush">
				    <div class="list-group-item">			    	
					    <h5 class="card-title">	{{ choice.choice_text }}</h5>
					    <p class="card-text">{{ choice.votes }} Votes</p>
					   	<div class="progress progress-xs bg-transparent" style="height: 2px;">
							<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ choice.votes }}" aria-valuemin="0" aria-valuemax="10" style="width: {{ choice.votes }}%"></div>
						</div>
				    </div>
				  </div>
				</div>
			</div>
{%endfor%}
		</div>
		<div class="text-center">
			<a href="{% url 'poling:detail' question.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Vote again</a>
		</div>
	</div>
</body>